name: Push Backend & Frontend Images to ECR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      ECR_REGISTRY: 066380524960.dkr.ecr.eu-north-1.amazonaws.com/fullstack-repo
      ECR_REPO: fullstack-repo

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    # -----------------------------
    # Configure AWS Credentials
    # -----------------------------
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    # -----------------------------
    # Login to ECR
    # -----------------------------
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    # -----------------------------
    # Build Backend Image
    # -----------------------------
    - name: Build Backend Docker image
      run: |
        docker build -t backend ./backend

    - name: Tag Backend Image
      run: |
        docker tag backend:latest $ECR_REGISTRY/$ECR_REPO:backend

    - name: Push Backend Image
      run: |
        docker push 066380524960.dkr.ecr.eu-north-1.amazonaws.com/fullstack-repo
    # -----------------------------
    # Build Frontend Image
    # -----------------------------
    - name: Build Frontend Docker image
      run: |
        cd frontend
        npm install
        npm run build
        cd ..
        docker build -t frontend ./frontend

    - name: Tag Frontend Image
      run: |
        docker tag frontend:latest $ECR_REGISTRY/$ECR_REPO:frontend

    - name: Push Frontend Image
      run: |
        docker push 066380524960.dkr.ecr.eu-north-1.amazonaws.com/fullstack-repo
